# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries (pandas, numpy etc)

In [4]:
import pandas as pd

### Step 2. Run the below line of code to create a dictionary

In [5]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

### Step 3. Assign it to a variable called pokemon and it should be a pandas Series.

In [6]:
d=pd.DataFrame(raw_data)
d

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

### Step 4. If the DataFrame columns are in alphabetical order, change the order of the columns as 
### `name`, `type`, `hp`, `evolution`, `pokedex`

In [15]:
d.columns=d.columns.str.upper()
d=d[['NAME','TYPE','HP','EVOLUTION','POKEDEX']]
d

         NAME   TYPE  HP   EVOLUTION POKEDEX
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert places (lakes, parks, hills etc) of your choice.

In [16]:
d['PLACE']=['Lakes','Parks','Hills','Ocean']
d

         NAME   TYPE  HP   EVOLUTION POKEDEX  PLACE
0   Bulbasaur  grass  45     Ivysaur     yes  Lakes
1  Charmander   fire  39  Charmeleon      no  Parks
2    Squirtle  water  44   Wartortle     yes  Hills
3    Caterpie    bug  45     Metapod      no  Ocean

### Step 6. Display the data type of each column

In [17]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   NAME       4 non-null      object
 1   TYPE       4 non-null      object
 2   HP         4 non-null      int64
 3   EVOLUTION  4 non-null      object
 4   POKEDEX    4 non-null      object
 5   PLACE      4 non-null      object
dtypes: int64(1), object(5)
memory usage: 320.0+ bytes